DerivedData/
build/
packages/
**/.gradle/
**/.build/
**/local.properties
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcuserdata/

.DS_Store
